/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Franklin Gothic Book';
}

h2 {
    letter-spacing: 1px;
    font-weight: bold;
}

div.clear {
    clear:both;
}
